@DateTime.Now
@{
    var name = "vita";
    var message = "您好" + name;
}

<h2>Index</h2>

<div>
    @message,<br/>
    現在時刻:@DateTime.Now<br/>
</div>

@{
    var success = true;
}

@if (success == true)
{
    <p>成功</p>
}
else
{
    <p>失敗</p>
}
@{ 
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}
<ol>
    @foreach (var item in fruits) 
    { 
        <li>@item</li>
    }
</ol>
